<%- include('header') %>
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      &nbsp;
    </div>
    <div class="col-6">
      <!-- Sign-up form goes here -->
    </div>
    <div class="col">
      &nbsp;
    </div>
  </div>
</div>
<%- include('footer') %>
